#main{
    height:100vh;
    display: flex;
}
#image{
    width: 40%;
    background-image: url("photo-1585202900225-6d3ac20a6962.avif");
    background-size: cover;
    display: flex;
}
#signUp>{
    width: 60%;
    display:flex;
}

